name: Google KMS integration test
on:
  pull_request:
    branches:
      - master


jobs:
  run-integrationtest:
    runs-on: ubuntu-latest

    steps:
    # Setup gcloud CLI
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v0.7.0
      with:
        credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

    - name: checkout
      uses: actions/checkout@v2

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    
    - name: run gcloud kms integration test
      run: |
        export GOOGLE_KMS_RESOURCE_ID=${{secrets.GOOGLE_KMS_RESOURCE_ID}}
        go test -v gcloud/gcloud_kms_integration_test.go gcloud/gcloud_kms.go 